# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

## Objectives:

* List popular languages for Data Science
* List popular libraries for Data Science
* Create a table of Data Science tools
* Create codes fro artihmetic expressions

### Some of the popular languages that Data Scientists use are:

1. Python
2. Java
3. C++

|Data Science Tools|
|------------------|
|R Studio|
|Jupiter Notebook|
|VS Code|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Leonardo Corti